---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
body {
  font-family: 'Fira Code', monospace; 
  color: #fff;
  font-size: 14px;
  background-color: #222;
}

h1 { color: aqua; }
h4 { color: greenyellow; }

a:hover { color: cyan; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: none; }
.page-link a:hover { color: cyan; }

.site-header {
  margin-top: 30px;
  border-top: 0px;		
  border-bottom: 0px;
}

.site-title { font-size: 14px; }

.site-title, .site-title:visited { color: red; }

.site-nav .page-link { color: lime; }

.site-footer { border-top: 0px; }

.footer-heading { font-size:14px; letter-spacing: -1px; }

.post-list-heading { font-size: 14px; }

.post-link { font-size: 14px; }

.post-content h4 { font-size: 14px; }

.post-title { font-size: 14px; }

@media screen and (max-width: 600px) {
  .site-nav 
  {
    background-color: #111;
    border: 1px solid #777;
  }
  .site-nav .menu-icon > svg { fill: #777; }
}

.footer-col-1 {
  width: -webkit-calc(50% - (30px / 2));
  width: calc(50% - (30px / 2)); 
}

.post-list-heading { display: none; }
.rss-subscribe { display: none; }
.footer-heading { display: none; }

pre, code {
  border-radius: 0px;
  border: 0px solid;
  background-color: #333; 
  font-size: 14px;
}

.highlighter-rouge .highlight { background-color: #333; }

.post-meta { color: #ddd; }

.username { color: fuchsia; }

a:visited { color: yellow; }
a {
  color: yellow;
  text-decoration: none; 
}

@media screen and (max-width: 800px)
{
.post-content h4 { font-size: 14px; }
}

